.dropdown-menu {
    box-shadow: none;
    border: solid 1px #fff;
    border-radius: 4px;
    max-height: 300px;
    overflow-y: scroll;
    background-color: #666;
}

.list-group-item.no-hover:hover {
    background-color: #666;
}

.list-group-item:hover {
    background-color: #666;
}

.list-group-item.selected {
    background-color: #666;
}

a.menu-item:hover {
   
}
